<template>
    <main>
        <UnderConstruction />
    </main>
</template>

<script>
/* Import components. */
import UnderConstruction from '@/components/UnderConstruction'

export default {
    components: {
        UnderConstruction,
    },
    data: () => {
        return {
            //
        }
    },
    computed: {
        //
    },
    methods: {
        //
    },
    created: async function () {
        //
    },
    mounted: function () {
        //
    },
}
</script>
